#Info{      
    display: flex;
    flex-direction: column;
    font-family: 'Monda', sans-serif;
}
.TextBox{
    flex: auto;
    height:60dvh;
    width: 70dvw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    margin-bottom:0% ;
    font-size:  calc(1.2vw + 1.2vh);
    box-shadow: 5px 5px 4px #00000025;
    border-radius: 20px 20px 20px 20px;

    background: linear-gradient(rgb(255, 255, 255, 0.1), rgb(255, 255, 255, 0));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px); 
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}
#line_aboutMe{
    flex: 1;
    border-bottom: 6px solid rgb(29, 29, 29);;
    width:50dvw;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
#free{
    flex: auto;
}

#CV{
    position:absolute;
    font-size:  calc(1.4vw + 1.4vh);
    font-family: 'Monda', sans-serif;
    color: rgb(29, 29, 29);
    box-shadow: 5px 5px 4px #00000025;
    border-radius: 20px 20px 20px 20px;

    background: linear-gradient(rgb(255, 255, 255, 0.1), rgb(255, 255, 255, 0));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px); 
    text-align: center;
    padding: 0.8rem;
    margin-left: 70%;
    margin-right: 10%;
    margin-top: -18%;
}

#CV:hover{
    cursor: pointer;
    box-shadow: 5px 5px 4px #ffffff25;
    color: rgb(255, 255, 255);
}