#Info{      
    display: flex;
    flex-direction: column;
    font-family: Jaldi;
}
.TextBox{
    flex: auto;
    height:60dvh;
    width: 70dvw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    margin-bottom:0% ;
    font-size:  calc(1.4vw + 1.4vh);
    box-shadow: 5px 5px 4px #00000025;
    border-radius: 20px 20px 20px 20px;

    background: linear-gradient(rgb(255, 255, 255, 0.1), rgb(255, 255, 255, 0));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px); 
    text-align: center;
}
#line_aboutMe{
    flex: 1;
    border-bottom: 6px solid rgb(29, 29, 29);;
    width:50dvw;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
#free{
    flex: auto;
}
