.body{
    
    margin:0px;
    position: relative;
    overflow-x: hidden;
    background: url('../images/background_f.svg') no-repeat;
    background-size: cover;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
#sectionHeader{
    position: sticky;
    top: 2%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    z-index: 10;
}
#sectionIndex{
    flex:1;
}

#sectionAboutMe{
    flex:1;
    height: 100dvh;
    padding-top: 10%;
}
#section_CERTIFICATS{
    float: 1;
    height: 100dvh;
    padding-top: 10%;
}
#sectionPortfolio{
    flex: 1;
    height: 100dvh;
    padding-top: 7%;
}
#sectionContacts{
    flex: 1;
    height: 100dvh;
    padding-top: 10%;
}