.Space{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;    
    font-family: 'Monda', sans-serif;   
    font-family: Jaldi;
}

.certificateImage {
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
}

.Certificat{
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    margin-left: -20%;
    margin-right: -20%;
}

#Main{
    flex: 2;
}

#BetaLeft{
    flex: 1;
    margin: auto;
}
#BetaRight{
    flex: 1;
    margin: auto;
}

#fixedTransparentDiv {
    position: absolute;
    margin-left: 30%;
    height: 100vh;
    width: 40vw;
}

.zoomCertificate {
    width: 100%;
    margin-top: -15%;
    margin-left: 5%;
}

.removeZoomCertificate {
    width: 70%;
    margin-top: 0;
    margin-left: 20%;
}
