#TextBox_Conatcts{
    flex: auto;
    height:75dvh;
    width: 70dvw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom:5% ;
    box-shadow: 5px 5px 5px 5px #00000025;
    border-radius: 20px 20px 20px 20px;

    background: linear-gradient(rgb(255, 255, 255, 0.1), rgb(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 

    display: flex;
    flex-direction: column;
    font-family: Jaldi;

}
#Box_box{
    display: flex;
    flex-direction: row;
    flex: 2;
    margin-left: 5%;
}
#text_contact{
    font-size:  calc(2vw + 2vh);
    text-align: center;
    vertical-align: text-top;
    margin-top: 5%;
    flex: 1;
}
.logos{
    width: 1%;
    height:1%;
    margin: 5%;
    flex: 1;

}
.contact_box{
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
    margin-top: 5%;
    margin-bottom: 10%;
}
.contact_text{
    flex:5;
    text-align: left;
    vertical-align:middle;
    font-size:  calc(1.4vw + 1.4vh);
    margin-top: 9%;

}
#Box_1{
flex: 1;
margin-bottom: 5%;
}
#Box_2{
    flex: 1;
    margin-bottom: 5%;
}