

#Nav{
    
    display: flex;
    flex-direction: row;
    font-family: 'Monda', sans-serif;
    font-family: 'Jaldi';
    font-size: 200%;
    box-shadow: 5px 5px 4px #00000025;
                
}
.NavStyle{
    background: linear-gradient(rgb(255, 255, 255, 0.1), rgb(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    flex:1;
    text-align: center;

}
.PrimeNavStyle{
    border-radius: 0px 0px 0px 0px;
    background-color: rgb(29, 29, 29);
    align-content:center;
    color: white;
    font-size: bold;

}


a {
    all: unset;
    text-align: center;
    flex:1;
    padding: 10px;
}

li {
    all:inherit;

    
}

ul {
    all:inherit;
}