#homePage {
  text-align: center;
  height: 100%;
  padding-bottom: 8%;
}
#homePageSection1{
  height: 80vh;
}

#homePageSection2 {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 10%;
  padding-top: 8%;
}

.left {
  flex: 1;
  text-align: left;
}

.left .header {
  font-weight: 500;
}

.right .header {
  font-weight: 500;
  margin-top: 10%;
}

.right {
  flex: 1;
  text-align: left;
}

@media screen and (max-width: 480px) {
  #homePageSection2 {
    padding-bottom: 20%;
  }
}