:root {
  --main-white: #fdfffc;
  --main-black: #151515;
  --light-gray: #6f6d6d;
  --teal: #0e7c7b;
  --chinese-violet: #a5668b;
  --cyclamen: #e86a92;
  --indigo: #e0f5ff;
  --carmine: #d0202f;
  --main-font: "Advent Pro", "Plus Jakarta Sans", "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-white);
  font-family: var(--main-font);
  color: var(--main-black);
}

a {
  text-decoration: none;
  color: var(--main-black);
}

a:hover {
  color: var(--light-gray);
  cursor: pointer;
}

.textBox {
  display: grid;
  grid-template-columns: 30% auto;
  margin-top: 7%;
}

.smallHeaderLeftSideTextBox {
  grid-column: 1;
}

.smallHeaderRightSideTextBox {
  grid-column: 2;
  padding-left: 20%;
}


.smallBigHeader{
  font-size: 48px;
}

.header {
  font-size: 72px;
  padding-top: 20%;
}

.smallHeader {
  font-size: 36px;
  margin-top: 2%;
}

.smallHeader:hover {
  color: var(--light-gray);
}

.text {
  font-size: 24px;
  font-weight: 200;
  margin-top: 10%;
}

#navigation {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 40%;
  position: fixed;
  top: 2%;
  right: 7%;
}

.navigationElement {
  text-decoration: line-through 1.5px var(--main-black);
  flex: 1;
  font-size: 18px;
  font-weight: 500;
  text-align: right;
}

.navigationElement:hover {
  text-decoration: none;
}

.current{
  text-decoration: none;
}

.headerBig {
  font-size: 72px;
  font-weight: 400;
}

.smallSmallHeader {
  font-size: 24px;
  font-family: var(--main-font);
  margin-top: 2%;
}

.smallSmallHeader:hover {
  color: var(--light-gray);
}

.paragraphBox {
  margin-bottom: 10%;
  padding-left: 5%;
  padding-right: 5%;
  border-left: 0.05rem solid var(--main-black);
}

.paragraph {
  color: var(--light-gray);
  font-size: 1.2rem;
  font-family: var(--main-font);
  font-weight: 400;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 5%;
}


@media  screen and (max-width: 480px) {
  .smallBigHeader{
    font-size: 28px;
  }
  .smallHeaderRightSideTextBox {
    grid-column: 2;
    padding-left: 10%;
  }
  .text {
    font-size: 22px;
    margin-top: 6%;
  }
  .smallHeader {
    font-size: 28px;
  }
  .header {
    font-size: 72px;
    padding-top: 60%;
  }
  #navigation {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .textBox {
    grid-template-columns: 100%;
  }
  .paddingLeftBox{
      padding-bottom: 5%;
  }
  .headerBig {
      margin-top: 20%;
    }    
}


#resumePage, #portfolioPage {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 10%;
}

.boxVertical {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
}


#contactBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.lineHorizontal{
    width: 80%;
    margin-top: 2%;
    margin-bottom:2%;
    border-bottom: 1px solid var(--main-black);
}

.lineVertical{
    position: absolute;
    bottom:0;
    right: 0;
    margin-right: 20%;
    height: 10vw;
    border-right: 1px solid var(--carmine);
}

.smallNavElement{
  text-decoration: line-through 1.5px var(--main-black);
}

.image{
  width: 70%;
}

.portfolioLink{
  margin-top: 20%;
}