.container {
    position: absolute;
    right: 10%;
    top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.path {
    stroke-dasharray: var(--length);
    stroke-dashoffset: var(--length);
    stroke-width: 0.7;
    animation: anim 5s ease-in-out alternate infinite;
  }
  
  @keyframes anim {
    0% {
      stroke-dashoffset: var(--length);
    }
  
    100% {
      stroke-dashoffset: 0;
    }
  }

  @media screen and (max-width: 1183px){
    .container {
     display: none;
    }
  }